*{
    top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
/* Styling my Navigation Bar */
nav{
    
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    padding-right:20%;
}
.logo{
    color:#1CC9D4;
    letter-spacing: 5px;
    transition: 7s ease-in-out;
   

}
.nav-links{
    width:30%;
    display: flex;
    justify-content: space-around;


}
.nav-links a{
    color:#FFFFFF;
    text-decoration: none;
}
.nav-links li{
    list-style: none;
    text-decoration: none;
    padding: 50px;
    
}
nav ul li a:hover{
    border-width:#1CC9D4 ;
    border-right: #1CC9D4;
    border-bottom: #1CC9D4;
    box-shadow: 0px 2px 0px #1CC9D4;
    transition: 0.2s ease-in-out;
    

}
/* Background Image of Laptop Home Page */
.bg-img{
    background-image: url("./assets/Backgrounds/MacBook\ -\ 33\ \(1\).png");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: auto;
}
.landing{
   padding-top: 10%;
    text-align:left;
    justify-content:center;
    padding-left: 40%;
}
/* Styling my about Section */
#mypic{
    width:300px;
    height:400px;
    
}
#headingAbout{
    color:#07767D;
    padding-left: 210px;
    
}
.card1{
    padding-left: 200px;
    width: 600px;
}
.card2{
    padding-left: 200px;

}
.About{
    /* top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0; */
    width: 80%;
}
.mylist{
    display:flex;
    padding-left: 10px;
}
.list2{
    padding-left: 20px;
}
hr{
    height: 3px;
    background-color:#07767D;
}

